body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #e0ecf8;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    padding: 12px 24px;
    margin: 5px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    background-color: #003d80;
    color: white;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #ffc107; /* Golden color
}
